* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background-color: rgb(240, 240, 240);
}

.header {
    text-align: center;
    margin: 50px 0;
}

.header h1 {
    margin-bottom: 14px;
    font-size: 28px;
}

.header p {
    font-size: 16px;
}

.form {
    margin: 0 auto;
    width: 650px;
    padding: 50px;
    background-color: rgb(250, 250, 250);
    color: rgb(40, 40, 40);
    box-shadow: 1px 1px 10px rgb(220, 220, 220);
}

.input-area {
    width: 100%;
    height: 28px;
    margin: 7px 0 16px 0;
    padding-left: 7px;
}

.title-area {
    margin: 28px 0 7px 0;
    font-size: 15px;
    font-weight: bold;
}

.select-area {
    margin: 5px;
}

.comment {
    width: 100%;
    height: 150px;
    margin: 7px 0 16px 0;
    padding: 7px;
}

.submit {
    width: 100%;
    height: 28px;
    margin-top: 14px;
    font-size: 15px;
    font-weight: bold;
}

.footer {
    text-align: center;
    margin: 50px 0;
}